body { background-color: #000000; color: #cccccc;  }

#completeTable table { width: 300px; font-size: 22px; }
#completeTable table td { padding-left: 10px; padding-right: 10px; }

#photos { display: flex; justify-content: space-around; }
.uri { text-align: center; }
.wins { text-align: center; }
.losses { text-align: center; }
.score { text-align: center; }
.chance { text-align: center; }